// ADMIN TEAMS CRUD

// ADMIN TEAMS NEW / EDIT PAGES

.new-team-form__title, .edit-team-form__title {
  font-family: 'Black Ops One', sans-serif;
  display: flex;
  margin: auto;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

//ADMIN TEAM DETAILS PAGE


.team-detail__title-section  {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-top: 2em;
  vertical-align:  center;
}

.team-detail__title {
  font-family: 'Black Ops One', sans-serif;
  text-align: center;
  width: 400px;
  height: 150px;
  margin: 0;
}

.team-details__img {
  width: 150px;
  height: 150px;
}

.team-details {
  display: flex;
  margin: auto;
  justify-content: center;
  background: #faf9fe;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 2em;

}

.team-details__ul {
  list-style: none;
  padding-left: 0;
  margin: 2em;
}

.team-cat_li {
  font-weight: bold;
}

.team-details_answers {
  text-align: left;
  padding-left: 20px;
}

//BUTTONS NAV

.admin-team-details__nav, .admin-team-form__nav {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  height: 50px;
  width: 40%;
  position: fixed;
  justify-content: flex-start;
  bottom: 5%;
  list-style: none;
  padding-left: 10px;

}

.team-details__nav-li,  .team-details__nav-li a, .team-form__nav-li, .team-form__nav-li a  {
  font-size: 10px;
  font-family: 'Black Ops One', sans-serif;
  text-decoration: none;
  color: #111;
  padding-left: 10px;
}

.team-form__nav-li a {
  padding-left:0;
}

.td__title, .td__title a, .form__btn-title, .form__btn-title, .form__btn-title a{
  color: #111;
  text-decoration: none;
  opacity: .3;
}

.team-details__nav-li:hover .form__btn-title {
  opacity: .9;
}

.team-new__nav-li:hover .form__btn-title {
  opacity: .9;
}
