//ADMIN NEW / EDIT GAME PAGE

  .new-game-form__title, .edit-game-form__title {
    font-family: 'Black Ops One', sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
  }

//
//ADMIN GAME DETAILS
//

.game-detail__title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  font-family: 'Black Ops One', sans-serif;
  text-align: center;
  width: 400px;
  height: 150px;
}

.game-details {
  display: flex;
  margin: auto;
  justify-content: center;
  background: #faf9fe;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.game-details__ul {
  list-style: none;
  padding-left: 0;
  margin: 2em;
}

.game-cat_li {
  font-weight: bold;
}

.game-details_answers {
  text-align: left;
  padding-left: 20px;
}


//BUTTONS NAV

.admin-game-details__nav, .admin-game-form__nav {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  height: 50px;
  width: 40%;
  position: fixed;
  justify-content: flex-start;
  bottom: 5%;
  list-style: none;
  padding-left: 10px;

}

 .game-details__nav-li,  .game-details__nav-li a, .game-form__nav-li, .game-form__nav-li a  {
  font-size: 10px;
  font-family: 'Black Ops One', sans-serif;
  text-decoration: none;
  color: #111;
  padding-left: 10px;
}

.game-details__nav-li, .game-form__nav-li a {
  padding-left:0;
  text-decoration: none;
}

 .gd__title, .gd__title a, .form__btn-title, .form__btn-title a{
  color: #111;
  text-decoration: none;
  opacity: .3;
}
