//ADMIN NEW / EDIT GAME PAGE

  .new-game-form__title, .edit-game-form__title {
    font-family: 'Black Ops One', sans-serif;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .new-game-form__btns, .edit-game-form__btns {
    display: flex;
    justify-content:center;
    margin: auto;
  }

  .new-game-btn, .edit-game-btn  {
    margin: 10px;
  }

//
//ADMIN GAME DETAILS
//

.game-detail__title {
  font-family: 'Black Ops One', sans-serif;
  display: flex;
  margin: auto;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.game-details__ul {
  margin: auto;
  justify-content: center;
  font-family: 'Black Ops One', sans-serif;
}

.game-details_btns {
  display: flex;
  justify-content:center;
  margin: auto;
}

.game-detail-btn {
    margin: 10px;
}
