//ADMIN INDEX PAGE

.admin-selection__title {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 50px;
  margin-bottom: 10px;
  font-size: 2em;
  font-family: 'Black Ops One', sans-serif;
}

.admin-selections {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  justify-content: center;
}

.admin-selection_img {
  width: 300px;
  height: 300px;
}


.admin-selection__li {
  list-style: none;
  text-align: center;
  margin: 10px;
}

.selection-title {
  font-family: 'Black Ops One', sans-serif;
  padding: 5px;
  color: #eee;
  background: #222;
}
