//ADMIN ACTIVITIES INDEX PAGE

.activities-index__img {
  margin-top: 10px;
  width: 50%;
  height: 30%;
  display: flex;
  justify-content: center;
  margin: auto;
}
.activity-index__title {
  font-family: 'Black Ops One', sans-serif;
  display: flex;
  margin: auto;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.activity-list {
  display: flex;
  padding-left: 0;
  padding: 10px;
  margin-top: 40px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 50%;
  background: rgba(0, 0, 0, 0.9);
}

.activity-list__li {
  list-style: none;
  padding: 5px;
  font-family: 'Black Ops One', sans-serif;
  color: #eee;
  text-decoration: none;
  font-size: 24px;
}

.activity-list__li:hover {
  color: #74d090;
}

.activity-list__btns {
  display: flex;
  margin: auto;
  justify-content: center;
  margin: 5px;
}

.activity__btn {
  margin: 10px;
}
