//ADMIN NAV

  .admin-nav {
    display: flex;
    width: 300px;
    justify-content: flex-start;
    margin-top: 5px;
    position: fixed;
  }

  .admin-nav__ul {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-left: 0;
    padding-right: 10px;

    list-style: none;
    text-align: left;
    font-size: 10px;



  }

  .admin-nav__li, .admin-nav__li a {
    font-family: 'Black Ops One', sans-serif;
    text-decoration: none;
    padding-left: 10px;
    color: #111;
  }

.nav-title {
  opacity: 0;
}

.admin-nav__li:hover .nav-title {
  opacity: .50;
}
