//
//ADMIN TEAMS INDEX PAGE
//


  .current-teams__img {
    width: 20%;
    height: 20%;
    display: flex;
    margin: auto;
    justify-content: center;

  }
  .team-list__title {
    font-family: 'Black Ops One', sans-serif;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .admin-team-list {
    display: flex;
    padding-left: 0;
    padding: 10px;
    margin-top: 40px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 50%;
    background: rgba(0, 0, 0, 0.9);
  }

  .admin-team-list__team, .admin-team-list__team a {
    list-style: none;
    padding: 5px;
    font-family: 'Black Ops One', sans-serif;
    color: #eee;
    text-decoration: none;
    font-size: 24px;
  }

  .admin-team-list__team a:hover {
    color: #74d090;
  }

  .current-team__btns {
    display: flex;
    margin: auto;
    justify-content: center;
    margin: 5px;
  }

  .current-team_btn {
    margin: 10px;
  }
