//CREATE A GAME FORM PARTIAL
//

.create-a-game__form {
  justify-content: center;
  margin: auto;
  margin-top: 30px;
  text-align: center;
}

.create-a-game__ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding-left: 0;
  flex: 1;
  margin-bottom: 10px;
}

.create-a-game__li {
  list-style: none;
}

.game-label {
  text-align: center;
  color: #0ea33b;
  margin-top: 10px;
}
