//ADMIN CREATE A NEW TEAM PARTIAL FORM
//

.new-team-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.new-team-form__ul {
  padding-left: 0;
  flex: 1;
  margin-bottom: 10px;
}

.new-team-form__li {
  font-family: 'Black Ops One', sans-serif;
  font-size: 24px;
  list-style: none;
}

.new-team-form__li-title {
  text-align: center;
  color: #0ea33b;
  margin-top: 10px;
}
