
  /* CLIENT SIDE NAV*/
  .nav-title {
    margin-left: 10px;
  }

  .nav-logo {
    width: 80px;
    height: 50px;
  }

  .nav  {
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding-top: 10px;
    background: #fff;
    border-bottom: 1px solid #111;
    align-items: center;
  }

  .nav-logo {
    padding-left: 10px;
  }

  .nav-ul {
    display: flex;
    padding-left: 0;
  }

  .nav-li {
    list-style: none;
    margin: 5px;
  }
