//TEAM PAGE SCHEDULE

.schedule-block {
  display: flex;
  align-items: center;
  margin: 2em;
  margin-top: 0;
  overflow-x: scroll;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.schedule__title {
  font-family: 'Black Ops One', sans-serif;
  font-size: 24px;
  margin: 5px;
  margin-right: 25px;
  text-align: center;
}

.schedule__ul {
  display: flex;
  padding-left: 0;
  margin-left: 5px;
}

.schedule-logo {
  width: 30px;
  height: 30px;
}

.schedule__li {
  list-style: none;
  margin: 5px;
  font-family: 'Black Ops One', sans-serif;
}
