// TEAM PAGE

// HEADER

.team-page__header {
  background: pink;
  display: flex;
  margin: 2em;
}

.team-page__header-left {
  display: flex;
  background: yellow;
  flex: 1;
  justify-content:  center;
  align-items: center;
}

.team-page__logo {
  width: 50%;
  height: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.team-page__header-right {
  background: green;
  flex: 2;
}
