.index {
  display: flex;
  flex-wrap: wrap;
  margin: 2em 4em;
  height: 300px;
  background: url('../road.jpg')
  no-repeat center fixed;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.index-hero__left {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  background: rgba(#e9ece5, 0.8);
}

.index-subtitle {
  font-size: 50px;
  line-height: 50px;
  text-align: left;
  font-family: 'Ultra', sans-serif;
  height: 60%;
}

.index-subtitle-p {
  height: 40%;
  font-weight: bold;
}
.index-hero__right {
  position: relative;
  background: rgba(#1b66d6, 0.9);
  width: 70%;
  justify-content: center;
}

.index-title {
  margin: auto;
  width: 100%;
  font-size: 100px;
  color: #e9ece5;
  font-family: 'Black Ops One', sans-serif;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}


.index-hero__admin, .index-hero__admin a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 0;
  list-style: none;
  width: 100%;
}

.hero-link_li {
  padding-left: 0;
  text-decoration: none;
  color: #e9ece5;
  margin-right:20px;
}

.hero-link_li p,  {
  margin: auto;
  color: #e9ece5;
  opacity: 0;
  font-size: 8px;
}

.hero_admin-link {
  color: #e9ece5;
}

.index-hero__admin:hover .hero_admin-link {
  opacity: .7;
}

.index-hero-links {
  padding-bottom: 20px;
}
