@media only screen and (max-width: 1600px) and (min-width: 1024px) {

// INDEX

  .index-subtitle {
    font-size: 30px;
    line-height: 30px;
    height: 30%;
  }

  .index-title {
    font-size: 60px;
  }

  .index-header h1 {
    font-size: 4em;
  }

  .index-middle ul {
    font-size: 1.5em;
  }


.team-page__stadium-info {
  flex-direction: column;
  height: 100%;

}

.stadium-info_inside {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.stadium-info_pictures {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.stadium-info__img {
  margin: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.schedule-block {
  flex-direction: row;
  overflow-x: scroll;
  width: 880px;
  margin: auto;
  margin-bottom: 1em;
  height: 100px;
}

.team-page__stadium-cover  {
  height: 100%;
}



//TEAM PAGES
  .team-page__haeder {
    padding-top: 0;
    margin-top: 1em;
  }

  .team-page__title  {
    font-size: 60px;
  }

  //ACTIVITY PANNEL

  .activities-pannel__titles {
    flex-direction: column;
    margin: 2em;
  }

  .pannel-title, .pannel-title a {
    margin-bottom: 1em;
  }

  .activities-pannel__ul {
    padding-left: 0;
  }

  .pannel-info {
    flex-direction: column;
    align-items: center;
  }

  .pannel-info ul {
    width: 90%;
    justify-content: center;
  }
}
