<h1 class="index-title">Road Game</h1>
<img class="index-hero" src="/team-logos/map.jpg" alt="">
<p class="index-links">
  {{#link-to 'teams'}}{{#mdl-button}}Teams{{/mdl-button}}{{/link-to}}
  {{#link-to 'login'}}{{#mdl-button}}Admin Login{{/mdl-button}}{{/link-to}}
  {{#link-to 'register'}}{{#mdl-button}}Register{{/mdl-button}}{{/link-to}}
</p>



<style>
.index-links {
  display: flex;
  width: 50%;
  margin: auto;
  justify-content: center;
  text-align: center;
}

  .index-title  {
    font-family: 'Black Ops One', sans-serif;
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: center;
    border: 5px dotted #000;
    margin-top: 50px;
    text-align: center;
  }

  .index-hero {
    display: flex;
    width: 40%;
    margin: auto;
    padding: 20px;
  }
</style>
