<div class="index-section">
  <div class="index-section-cover">
  <div class="index-header">
    <h1> Let's Get Started! </h1>
  </div>
  <div class="index-middle">
    <ul class="index-middle__steps">
      <li>Step 1: </li>
      <li>Step 2: </li>
      <li>Step 3: </li>
      <li>Step 4: </li>
    </ul>
    <ul>
      <li class="index-middle-li">Choose A {{#link-to 'teams' class="index-link"}} Team {{/link-to}} </li>
      <li class="index-middle-li">{{#link-to 'login' class="index-link"}}Login{{/link-to}} or {{#link-to 'register' class="index-link"}}Sign Up{{/link-to}} (optional) </li>
      <li class="index-middle-li">Locate Food, Entertainment & Stadium Info</li>
      <li class="index-middle-li">Get Ready For The Game!</li>
    </ul>
  </div>
  </div>
</div>
