<h1 class="new-game-form__title">Create A New Game</h1>

{{#simple-form class="new-game-form" onsubmit="addNewGame" as |formValues|}}
  {{partial 'admin/games/form'}}

<div class="new-game-form__btns">
    {{#link-to 'admin.games'}}{{mdl-button class="new-game-btn" isFloating=true icon='arrow_back'}}{{/link-to}}
    {{mdl-button class="new-game-btn" isFloating=true icon='add'}}
</div>

  {{/simple-form}}
