<div class="admin-nav">

  <ul class="admin-nav__ul">
    <li class="admin-nav__li">{{#link-to 'index'}}Road Game{{/link-to}}</li>
    <li class="admin-nav__li">{{#link-to 'admin'}}Admin{{/link-to}}</li>
    <li class="admin-nav__li">{{#link-to 'admin.teams'}}Teams{{/link-to}}</li>
    <li class="admin-nav__li">{{#link-to 'admin.games'}}Games{{/link-to}}</li>
    <li class="admin-nav__li">{{#link-to 'login'}}Logout{{/link-to}}</li>
  </ul>
</div>
{{outlet}}
