<div class="admin-nav">

  <ul class="admin-nav__ul">
    <li class="admin-nav__li">{{#link-to 'index'}}Road Game{{/link-to}}</li>
    <li class="admin-nav__li">{{#link-to 'admin'}}Admin{{/link-to}}</li>
    <li class="admin-nav__li">{{#link-to 'admin.teams'}}Teams{{/link-to}}</li>
    <li class="admin-nav__li">{{#link-to 'admin.games'}}Games{{/link-to}}</li>
    <li class="admin-nav__li">{{#link-to 'login'}}Logout{{/link-to}}</li>
  </ul>
</div>
{{outlet}}

<style>


  .admin-nav {
    display: flex;
    width: 100%;
    height: 40px;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
  }

  .admin-nav__ul {
    display: flex;
    width: 40%;
    padding-left: 0;
    list-style: none;
    justify-content: center;

  }

  .admin-nav__li {
    font-family: 'Black Ops One', sans-serif;
    text-decoration: none;
    padding-left: 10px;
  }
</style>
