<div class="current-teams">
  <img class='current-teams__img' src="team-logos/jaguars.jpg" alt="">
  <h2 class="team-list__title">Current Teams</h2>
  <ul class="admin-team-list">
    {{#each model as |teamList|}}
    <li class="admin-team-list__team">
      {{#link-to 'admin.teams.details' teamList}}{{teamList.city}} {{teamList.name}}{{/link-to}}
    </li>
    {{/each}}
  </ul>
</div>
<div class="current-team__btns">
    {{#link-to 'admin'}}
      {{mdl-button class="current-team_btn" isFloating=true icon='arrow_back'}}
    {{/link-to}}

    {{#link-to 'admin.teams.new'}}
      {{mdl-button class="current-team_btn" isFloating=true icon='add'}}
    {{/link-to}}
  </div>
