<h2 class="admin-activity-form__title">Edit A Team Activity</h2>

{{#simple-form class='new-activity-form' startingValues=model.activity onsubmit="saveActivity" as |formValues|}}
  {{partial 'admin/activities/form'}}

  <ul class="admin-activity-form__nav">
    <li class='activity-form__nav-li'>
      {{#mdl-button class='form-activity-btn' icon='add'}}{{/mdl-button}}<span class="ad__title">Save</span>
    </li>
    <li class='activity-form__nav-li'>
      {{#mdl-button action='removeActivity' class='form-activity-btn' icon='delete'}}{{/mdl-button}}<span class="ad__title">Trash</span>
    </li>
  </ul>



{{/simple-form}}
