<p class="admin-selection__title">Choose A Category</p>
<ul class="admin-selections">
  {{#link-to 'admin.teams'}}
    <li class="admin-selection__li">
      <img class='admin-selection_img' src="team-logos/jaguars.jpg" alt="">
      <p class="selection-title">Teams</p>
    </li>
  {{/link-to}}
  {{#link-to 'admin.games'}}
    <li class="admin-selection__li">
      <img class='admin-selection_img' src="team-logos/feild.jpg" alt="">
      <p class="selection-title">Games</p>
    </li>
    {{/link-to}}
</ul>
