

<div class="admin">
  <h1 class="admin-selection__title">Admin</h1>
  <ul class="admin-selections">
    {{#link-to 'admin.teams'}}
      <li class="admin-selection__li">
        <img class='admin-selection__img' src="team-logos/jaguars.jpg" alt="">
        <section class="admin-selection__img-cover"></section>
        <p class="selection-title" id="teams">Teams</p>
      </li>
    {{/link-to}}
    {{#link-to 'admin.games'}}
      <li class="admin-selection__li">
        <img class='admin-selection__img' src="team-logos/feild.jpg" alt="">
        <div class="admin-selection__img-cover"> </div>
        <p class="selection-title" id="games">Games</p>
      </li>
      {{/link-to}}
      {{#link-to 'admin.activities'}}
        <li class="admin-selection__li">
          <img class='admin-selection__img' src="/beach.jpg" alt="">
          <div class="admin-selection__img-cover"> </div>
          <p class="selection-title">Activities</p>
        </li>
      {{/link-to}}
  </ul>
  <div class="admin-button-links">
      <ul class="admin-button-links__ul">
        <li class="button-links__li">{{#link-to 'index'}}{{#mdl-button class="button-links__icon" icon='home'}}{{/mdl-button}}{{/link-to}}</li>
        <li class="button-links__li">{{#link-to 'index'}}<p class="button-links__title">Home</p>{{/link-to}}</li>
      </ul>
      <ul class="admin-button-links__ul">
        <li class="button-links__li">{{#link-to 'index'}}{{#mdl-button class="button-links__icon" icon='exit_to_app'}}{{/mdl-button}}{{/link-to}}</li>
        <li class="button-links__li">{{#link-to 'index'}}<p class="button-links__title">Log Out</p>{{/link-to}}</li>
      </ul>
  </div>
</div>
