
<img class='games-index__img' src="team-logos/feild.jpg" alt="">
<h2 class="admin-game-list__title">Current Games</h2>
<ul class="admin-game-list">
  {{#each model as |gameList|}}
  <li class="admin-game-list__game">
    {{#link-to 'admin.games.details' gameList}}{{gameList.awayTeam.name}} @ {{gameList.homeTeam.name}}{{/link-to}}
  </li>
  {{/each}}
</ul>

<div class="current-game-btns">
  {{#link-to 'admin'}}
    {{mdl-button class='game-btn' isFloating=true icon='arrow_back'}}
  {{/link-to}}

  {{#link-to 'admin.games.new'}}
    {{mdl-button class='game-btn' isFloating=true icon='add'}}
  {{/link-to}}
</div>
