
<div class="team-list__section">
  <h2 class="team-list__title">Select Your Team </h2>
  <ul class="team-list">
    {{#each model as |teamList|}}
    {{#link-to 'team-page' teamList}}
        <li class="team-list__card">
          <img class="team-card__img"src="{{teamList.imgUrl}}">
          <div class="team-card__img-cover"></div>
          <p class="team-card__cat tc_city">{{teamList.city}}</p>
          <p class="team-card__cat tc_name ">{{teamList.name}}</p>
        </li>
      {{/link-to}}
      {{/each}}
    </ul>

</div>

{{outlet}}
