<div class="nav">
  {{#link-to 'index'}}<p class="nav-title">The Road Game</p>{{/link-to}}
  <img class="nav-logo" src="/team-logos/map.jpg" alt="">
  <ul class="nav-ul">
    <li class="nav-li">
      {{#link-to 'login' }}Login{{/link-to}}
    </li>
    <li class="nav-li">
      {{#link-to 'admin'}}Admin{{/link-to}}
    </li>
  </ul>
</div>

<div class="team-list__section">
  <h2 class="team-list__title">Select Your Team </h2>
  {{#each model as |teamList|}}
    <ul class="team-list">
      <li class="team-list__li">
        {{#link-to 'team-page' teamList}}<img class="team-list__logo"src="{{teamList.imgUrl}}">{{/link-to}}
      </li>
      <li class="team-list__li">
        {{#link-to 'team-page' teamList}}{{teamList.city}}{{/link-to}}
      </li>
      <li class="team-list__li">
        {{#link-to 'team-page' teamList}}{{teamList.name}}{{/link-to}}
      </li>
    </ul>
  {{/each}}
</div>
{{outlet}}
