
<div class="index">
  <div class="index-hero__left">
    <p class="index-subtitle">PUT ON FOR YOUR CITY, IN ANOTHER.</p>
    <p class="index-subtitle-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
  </div>
  <div class="index-hero__right">
    {{#link-to 'login'}}
    <ul class="index-hero__admin">
      <li class="hero-link_li"><p class="hero_admin-link">Admin</p></li>
      <li class="hero-link_li">{{#mdl-button class="hero_admin-link" icon="fingerprint"}}{{/mdl-button}}</li>
   </ul>
   {{/link-to}}
    <h1 class="index-title">Road Warrior </h1>
  </div>
</div>
<div class="index-hero-links">

  <ul class="index-hero-links__ul">
    <li class='hero__link'>{{#link-to 'teams'}}{{#mdl-button icon='apps'}}{{/mdl-button}}{{/link-to}}</li>
    <li class='hero__link'>{{#link-to 'teams'}}Teams{{/link-to}}</li>
  </ul>
  <ul class="index-hero-links__ul">
    <li class='hero__link'>{{#link-to 'register'}}{{#mdl-button icon="face"}}{{/mdl-button}}{{/link-to}}</li>
    <li class='hero__link'>{{#link-to 'teams'}}Sign Up{{/link-to}}</li>
  </ul>
  <ul class="index-hero-links__ul">
    <li class='hero__link'>{{#link-to 'login' action='logout'}}{{#mdl-button icon="pan_tool"}}{{/mdl-button}}{{/link-to}}</li>
    <li class='hero__link'>{{#link-to 'index'}}Logout{{/link-to}}</li>
  </ul>
  <ul class="index-hero-links__ul">
    <li class='hero__link'>{{#link-to 'login'}}{{#mdl-button icon="vpn_key"}}{{/mdl-button}}{{/link-to}}</li>
    <li class='hero__link'>{{#link-to 'login'}}Login{{/link-to}}</li>
  </ul>
</div>

  {{outlet}}
