{{#mdl-nav title='The Road Game' fixedHeader=true}}
  {{mdl-nav-item name='Log in'}}
  {{mdl-nav-item name='Register'}}
  <div class="mdl-grid">
  	<div class="mdl-cell mdl-cell--12-col">
  	</div>
  </div>
{{/mdl-nav}}

{{outlet}}
